#store {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.store-item-card {
    margin: 20px;
    width: 320px;
}

.empty-flex {
    margin: 20px;
    width: 352px;
}

button {
    border: none;
    background: none;
}

input[type=number]{
    width: 20px;
} 