/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { 
    background-color: rgb(243, 244, 250); 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

mat-toolbar {
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
}